In [1]:
import pandas as pd

In [2]:
brands = pd.read_csv('brands.csv')
finance = pd.read_csv('finance.csv')
info = pd.read_csv('info.csv')
reviews = pd.read_csv('reviews.csv')

In [3]:
#Merging datasets and dropping null values
merged_df = brands.merge(finance, on='product_id')
merged_df = merged_df.merge(info, on='product_id')
merged_df = merged_df.merge(reviews, on='product_id')
merged_df.dropna(inplace=True)

In [4]:
merged_df.head(10)

,product_id,brand,listing_price,sale_price,discount,revenue,product_name,description,rating,reviews
1,G27341,Adidas,75.99,37.99,0.5,1641.17,Women's adidas Originals Sleek Shoes,"A modern take on adidas sport heritage, tailor...",3.3,24.0
2,CM0081,Adidas,9.99,5.99,0.4,398.93,Women's adidas Swim Puka Slippers,These adidas Puka slippers for women's come wi...,2.6,37.0
3,B44832,Adidas,69.99,34.99,0.5,2204.37,Women's adidas Sport Inspired Questar Ride Shoes,"Inspired by modern tech runners, these women's...",4.1,35.0
4,D98205,Adidas,79.99,39.99,0.5,5182.70,Women's adidas Originals Taekwondo Shoes,This design is inspired by vintage Taekwondo s...,3.5,72.0
5,B75586,Adidas,47.99,19.20,0.6,1555.20,Women's adidas Sport Inspired Duramo Lite 2.0 ...,Refine your interval training in these women's...,1.0,45.0
6,CG4051,Adidas,47.99,23.99,0.5,86.36,Women's adidas Sport Inspired Duramo Lite 2.0 ...,Refine your interval training in these women's...,4.4,2.0
7,CM0080,Adidas,9.99,5.99,0.4,75.47,Women's adidas Swim Puka Slippers,These adidas Puka slippers for women's come wi...,2.8,7.0
8,B75990,Adidas,55.99,27.99,0.5,806.11,WOMEN'S ADIDAS RUNNING DURAMO 9 SHOES,These women's neutral running shoes will get y...,4.5,16.0
9,EE5761,Adidas,65.99,39.59,0.4,2779.22,Men's adidas Originals Forest Grove Shoes,The Forest Grove brings back the look of the a...,4.0,39.0
10,EE4553,Adidas,75.99,45.59,0.4,2954.23,Women's adidas Originals Swift Run Shoes,The Swift distills decades of adidas heritage ...,2.7,36.0

In [ ]:
#Alternate code to merge datasets
merged_data = pd.merge(brands, finance, on='product_id')
merged_data = pd.merge(merged_data,info, on='product_id')
merged_data = pd.merge(merged_data, reviews, on='product_id')

In [6]:
#exporting merged_df to csv
merged_df.to_csv('~/Desktop/merged_data.csv', index=False)

In [5]:
# Add price labels based on listing_price quartiles
merged_df["price_label"] = pd.qcut(merged_df["listing_price"], q=4, labels=["Budget", "Average", "Expensive", "Elite"])

In [6]:
#Â Group by brand and price_label to get volume and mean revenue
adidas_vs_nike = merged_df.groupby(["brand", "price_label"], as_index=False).agg(
    num_products=("price_label", "count"), 
    mean_revenue=("revenue", "mean")
).round(2)

print(adidas_vs_nike)

    brand price_label  num_products  mean_revenue
0  Adidas      Budget           574       2015.68
1  Adidas     Average           655       3035.30
2  Adidas   Expensive           759       4621.56
3  Adidas       Elite           587       8302.78
4    Nike      Budget           357       1596.33
5    Nike     Average             8        675.59
6    Nike   Expensive            47        500.56
7    Nike       Elite           130       1367.45

In [7]:
# Store the length of each description
merged_df["description_length"] = merged_df["description"].str.len()

# Upper description length limits
lengthes = [0, 100, 200, 300, 400, 500, 600, 700]

# Description length labels
labels = ["100", "200", "300", "400", "500", "600", "700"]

# Cut into bins
merged_df["description_length"] = pd.cut(merged_df["description_length"], bins=lengthes, labels=labels)

In [8]:
# Group by the bins
description_lengths = merged_df.groupby("description_length", as_index=False).agg(
    mean_rating=("rating", "mean"), 
    num_reviews=("reviews", "count")
).round(2)

In [9]:
print(description_lengths)

  description_length  mean_rating  num_reviews
0                100         2.26            7
1                200         3.19          526
2                300         3.28         1785
3                400         3.29          651
4                500         3.35          118
5                600         3.12           15
6                700         3.65           15